<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="" class="navbar-brand fw-bold text-primary h1"> WatchHub </a>
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="#" class="btn mx-2 btn-primary">
              <i class="fa fa-user"></i>
              <span class="ms-1 d-none d-sm-inline-block">Sign in </span>
            </a>
            <a href="#" class="btn mx-2 btn-primary">
              <i class="fa fa-heart"></i>
              <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>
            </a>
            <a
              data-bs-toggle="offcanvas"
              href="#offcanvas_cart"
              class="btn mx-2 btn-primary"
            >
              <i class="fa fa-shopping-cart"></i>
              <span class="ms-1">My cart </span>
            </a>
          </div>
        </div>
      </div>
      <div>
        <div class="input-group my-3">
          <input
            type="text"
            class="form-control h-3rem"
            placeholder="Tìm kiếm sản phẩm..."
            [(ngModel)]="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary h-3rem w-3rem" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button
        class="navbar-toggler border"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar_main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav d-flex justify-content-between w-100">
          <li class="nav-item">
            <a class="nav-link ps-0 text-white" href="#"> Sản Phẩm </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
