<header class="section-header mb-2">
  <section class="header-main">
    <div class="container">
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 d-none d-sm-block">
          <a href="#" class="navbar-brand fw-bold text-primary h1">
            <img
              style="width: 90px; height: 70px"
              src="assets/images/logo/logo4.png"
              class="d-inline-block mb-1"
            />
          </a>
        </div>
        <div class="col-12 md:col-6 lg:col-4"></div>
        <div class="col-12 md:col-6 lg:col-5 mt-lg-3">
          <span class="w100">
            <a
              *ngIf="this.currentUser?.is_admin"
              (click)="navigateAdmin()"
              class="btn mx-2 btn-primary clear-fix-ava"
            >
              <i class="fas fa-user-shield"></i>
              <span class="ms-1 d-none d-sm-inline-block"> Admin </span>
            </a>
            <a
              (click)="onClickFavourite()"
              class="btn mx-2 btn-danger clear-fix-ava"
            >
              <i class="fa fa-heart"></i>
            </a>
            <a
              (click)="onClickCart()"
              class="btn mx-2 btn-success clear-fix-ava"
            >
              <i class="fa fa-shopping-cart text-white"></i>
              <span class="ms-1 d-none d-sm-inline-block text-white">
                <p-badge
                  [value]="cartItems?.length"
                  severity="success"
                ></p-badge>
              </span>
            </a>
          </span>

          <img
            [class.hidden]="!currentUser"
            (click)="op.toggle($event)"
            pTooltip="{{ currentUser?.fullname }}"
            tooltipPosition="bottom"
            class="rounded-circle cursor-pointer ml-4"
            width="50px"
            height="50px"
            id="user-avatar"
            [src]="
              currentUser?.avatar ||
              'https://ucarecdn.com/e9c59ff0-2a37-4c58-840f-b2c4d1f1ed2c/user.webp'
            "
          />

          <a
            *ngIf="!currentUser"
            (click)="navigateLogin()"
            class="btn mx-2 btn-warning clear-fix-ava"
          >
            <i class="fas fa-key text-white"></i>
            <span class="ms-1 d-none d-sm-inline-block text-white">
              Đăng nhập/Đăng Ký</span
            >
          </a>

          <p-overlayPanel #op>
            <ng-template pTemplate="content">
              <div class="list-unstyled info">
                <a
                  [href]="'/profile'"
                  class="text-decoration-none text-secondary"
                >
                  <i class="fas fa-user-edit mr-2"></i>
                  Thông tin cá nhân
                </a>
                <hr />
                <a
                  [href]="'/profile'"
                  class="text-decoration-none text-secondary"
                >
                  <i class="fas fa-dolly mr-2"></i>
                  Đơn đặt hàng
                </a>
                <hr />
                <a
                  (click)="logout()"
                  class="text-decoration-none text-secondary"
                >
                  <i class="fas fa-sign-out-alt mr-2"></i>
                  Đăng xuất
                </a>
              </div>
            </ng-template>
          </p-overlayPanel>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="my-3">
        <p-autoComplete
          [(ngModel)]="searchInput"
          [suggestions]="filteredProducts"
          field="name"
          [placeholder]="'Tìm kiếm sản phẩm...'"
          (completeMethod)="searchProducts($event)"
          [minLength]="2"
          [lazy]="true"
          [showClear]="true"
          [autoHighlight]="true"
          [showEmptyMessage]="true"
          class="w-100"
        >
          <ng-template let-product pTemplate="item" class="text-truncate">
            <div class="d-flex" (click)="onClickItemSearch(product)">
              <div class="mr-4">
                <p-image
                  class="cursor-pointer"
                  [src]="product?.product_image_uuid[0]"
                  alt="Image"
                  width="40"
                >
                </p-image>
              </div>
              <div class="my-auto text-truncate">
                {{ product?.product_type_name }}
              </div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button
        class="navbar-toggler border"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar_main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav d-flex justify-content-between w-100">
          <li class="nav-item d-flex">
            <ul class="navbar-nav d-flex justify-content-between w-100">
              <li class="navbar-nav d-flex justify-content-between w-100">
                <a
                  (click)="onClickCategory('ALL')"
                  class="nav-link ps-0 text-white item-header"
                  [class.active]="selectedItemHeader === 'ALL'"
                >
                  Tất Cả
                </a>
              </li>
              <li
                *ngFor="let category of categories"
                class="navbar-nav d-flex justify-content-between w-100"
              >
                <a
                  (click)="onClickCategory(category)"
                  class="nav-link ps-0 text-white item-header"
                  [class.active]="
                    selectedItemHeader === category?.category_name
                  "
                >
                  {{ category?.category_name }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
