<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="container">
        <div class="row gy-3 align-items-center">
          <div
            [ngClass]="{
              'w-100 d-flex justify-content-center': isMobileScreen()
            }"
            class="col-lg-2 col-md-4 col-6 w-100"
          >
            <a href="#" class="navbar-brand fw-bold text-primary h1">
              <img
                style="width: 130px; height: 100px"
                src="assets/images/logo/logo4.png"
                class="d-inline-block mb-1"
              />
            </a>
          </div>
          <div class="col-lg-5 col-md-8 col-6 order-lg-last d-none d-lg-block">
            <div class="d-flex justify-content-around">
              <span>
                <a
                  (click)="navigateAdmin()"
                  class="btn mx-2 btn-primary clear-fix-ava"
                >
                  <i class="fas fa-user-shield"></i>
                  <span class="ms-1 d-none d-sm-inline-block"> Admin </span>
                </a>
                <a href="#" class="btn mx-2 btn-danger clear-fix-ava">
                  <i class="fa fa-heart"></i>
                  <span class="ms-1 d-none d-sm-inline-block"> Yêu Thích</span>
                </a>
                <a
                  data-bs-toggle="offcanvas"
                  href="#offcanvas_cart"
                  class="btn mx-2 btn-success clear-fix-ava"
                >
                  <i class="fa fa-shopping-cart text-white"></i>
                  <span class="ms-1 text-white"> Giỏ Hàng </span>
                </a>

                <a
                  title="Toogle Full Screen"
                  class="btn mx-2 btn-secondary clear-fix-ava"
                  (click)="toggleFullscreen()"
                >
                  <i
                    *ngIf="!isFullScreen"
                    class="fas fa-expand cursor-pointer"
                  ></i>
                  <i *ngIf="isFullScreen" class="fas fa-compress"></i>
                </a>
              </span>

              <p-avatar
                [image]="
                  currentUser?.avatar ||
                  'https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg'
                "
                styleClass=""
                size="large"
                shape="circle"
                class="cursor-pointer"
                (click)="op.toggle($event)"
                pTooltip="{{ currentUser?.fullname }}"
                tooltipPosition="bottom"
              ></p-avatar>

              <p-overlayPanel #op>
                <ng-template pTemplate="content">
                  <div class="list-unstyled info">
                    <a
                      [href]="'/profile'"
                      class="text-decoration-none text-secondary"
                    >
                      <i class="fas fa-user-edit mr-2"></i>
                      Thông tin cá nhân
                    </a>
                    <hr />
                    <a
                      [href]="'/profile'"
                      class="text-decoration-none text-secondary"
                    >
                      <i class="fas fa-dolly mr-2"></i>
                      Đơn đặt hàng
                    </a>
                    <hr />
                    <a
                      (click)="logout()"
                      class="text-decoration-none text-secondary"
                    >
                      <i class="fas fa-sign-out-alt mr-2"></i>
                      Đăng xuất
                    </a>
                  </div>
                </ng-template>
              </p-overlayPanel>
            </div>
          </div>
        </div>
        <div class="float-end d-lg-none mb-3">
          <div class="d-flex justify-content-around">
            <span>
              <a
                (click)="navigateAdmin()"
                class="btn mx-2 btn-primary clear-fix-ava"
              >
                <i class="fas fa-user-shield"></i>
                <span class="ms-1 d-none d-sm-inline-block"> Admin </span>
              </a>
              <a href="#" class="btn mx-2 btn-danger clear-fix-ava-m">
                <i class="fa fa-heart"></i>
                <span class="ms-1 d-none d-sm-inline-block"> Yêu Thích</span>
              </a>
              <a
                data-bs-toggle="offcanvas"
                href="#offcanvas_cart"
                class="btn mx-2 btn-success clear-fix-ava-m"
              >
                <i class="fa fa-shopping-cart text-white"></i>
                <span class="ms-1 text-white"> Giỏ Hàng </span>
              </a>
            </span>

            <p-avatar
              image="https://scontent.fsgn2-4.fna.fbcdn.net/v/t39.30808-6/342049984_221228790530112_6155011813849949330_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=VCgEKM4rVXIAX8o2I9v&_nc_ht=scontent.fsgn2-4.fna&oh=00_AfARxyBcVqbt83obcqTj7LrxCGdNbSwVeUY4tWNEPFzYKw&oe=6468FB3D"
              styleClass=""
              size="large"
              shape="circle"
              class="cursor-pointer"
              (click)="op.toggle($event)"
            ></p-avatar>
          </div>
        </div>
      </div>

      <div>
        <div class="input-group my-3">
          <input
            type="text"
            class="form-control h-3rem"
            placeholder="Tìm kiếm sản phẩm..."
            [(ngModel)]="searchInput"
          />
          <div class="input-group-append">
            <button class="btn btn-primary h-3rem w-3rem" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button
        class="navbar-toggler border"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbar_main"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav d-flex justify-content-between w-100">
          <li class="nav-item d-flex">
            <ul class="navbar-nav d-flex justify-content-between w-100">
              <li>
                <a class="nav-link ps-0 text-white" href="#"> Sản Phẩm </a>
              </li>
              <li>
                <a class="nav-link ps-0 text-white" href="#"> Liên Hệ </a>
              </li>
            </ul>
          </li>
          <li class="nav-item"></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
