.custom-dropdown {
  width: 300px !important;
}

th {
  text-align: center !important;
  min-width: 180px;
}

td {
  text-align: center !important;
}

:host ::ng-deep {
  .p-dropdown {
    // margin-top: 10px;
    // width: 30vw !important;
  }
}
