<app-header></app-header>
<div class="container" style="min-height: 80vh">
  <p-tabMenu
    [model]="tabMenuModel"
    [activeItem]="activeTab"
    [scrollable]="true"
    (activeItemChange)="onActiveItemChange($event)"
  >
    <ng-template pTemplate="item" let-item let-i="index">
      {{ item.label }}
      <span
        *ngIf="getTotalByStatus(item.id) > 0"
        class="ui-badge custom-badge mb-3 text-white bg-danger"
      >
        <span class="m-auto">
          {{ getTotalByStatus(item.id) }}
        </span>
      </span>
    </ng-template>
  </p-tabMenu>

  <div class="mt-4" *ngFor="let tab of tabMenuModel">
    <p-table *ngIf="activeTab.id == tab.id" [value]="getOrdersByStatus(tab.id)">
      <ng-template pTemplate="header">
        <tr>
          <th></th>
          <th>Mã đơn hàng</th>
          <th>Mã giao dịch</th>
          <!-- <th>Trạng thái</th> -->
          <th>Thành tiền</th>
          <th>Thời gian đặt hàng</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td class="cursor-pointer" (click)="onClickOrder(order)">
            <p-image
              class="cursor-pointer"
              [src]="order?.product_image_uuid[0]"
              alt="Image"
              width="50"
            >
            </p-image>
          </td>
          <td class="cursor-pointer" (click)="onClickOrder(order)">
            {{ order?.id }}
          </td>
          <td class="cursor-pointer" (click)="onClickOrder(order)">
            {{ order?.vnpay?.transactionNo }}
          </td>
          <!-- <td>{{ getStatusName(order.order_status) }}</td> -->
          <td class="cursor-pointer" (click)="onClickOrder(order)">
            {{ order.total_amount | currency : "VND" }}
          </td>
          <td class="cursor-pointer" (click)="onClickOrder(order)">
            {{ order.created_date | date : "dd/MM/YYYY HH:ss:mm" }}
          </td>
          <td>
            <button
              *ngIf="isShowCancel(tab?.id)"
              (click)="cancelOrder(order)"
              pButton
              pRipple
              id="sc"
              label="Hủy"
              class="p-button-danger"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<app-footer></app-footer>
