<app-header></app-header>
<section class="padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4">
        <article class="gallery-wrap">
          <div class="img-big-wrap img-thumbnail h-auto">
            <a
              data-fslightbox="mygalley"
              data-type="image"
              [href]="imgUrl || product?.product_image_uuid[0]"
            >
              <img [src]="imgUrl || product?.product_image_uuid[0]" />
            </a>
          </div>
          <div class="thumbs-wrap">
            <a
              *ngFor="let img of product?.product_image_uuid"
              data-fslightbox="mygalley"
              data-type="image"
              class="item-thumb"
            >
              <img
                (click)="changeSelectedImg(img)"
                width="60"
                height="60"
                [src]="img"
              />
            </a>
          </div>
        </article>
      </aside>
      <main class="col-lg-8">
        <article class="ps-lg-3">
          <h4 class="title text-dark">
            {{ product?.product_type_name }}
          </h4>
          <div class="rating-wrap my-3">
            <ul class="rating-stars">
              <li style="width: 80%" class="stars-active">
                <img src="assets/images/misc/stars-active.svg" alt="" />
              </li>
              <li>
                <img src="assets/images/misc/starts-disable.svg" alt="" />
              </li>
            </ul>
            <!-- <b class="label-rating text-warning"> 4.5</b>
            <i class="dot"></i>
            <span class="label-rating text-muted">
              <i class="fa fa-shopping-basket"></i> 154 orders
            </span> -->
            <!-- <i class="dot"></i> -->
            <!-- <span class="label-rating text-success">
              {{ getProductStatus(product?.quantity) }}
            </span> -->
          </div>

          <div class="mb-3">
            <var class="price h5">
              {{ product?.price | currency : "VND" }}
            </var>
            <span class="text-muted">/sản phẩm (Full Box)</span>
          </div>

          <p>
            {{ product?.product_additional_information }}
          </p>

          <dl class="d-flex">
            <dl class="row">
              <dt class="col-3">Thương Hiệu:</dt>
              <dd class="col-3">{{ product?.brand_name }}</dd>

              <dt class="col-3">Xuất Xứ</dt>
              <dd class="col-3">{{ product?.product_source }}</dd>

              <dt class="col-3">Loại Máy</dt>
              <dd class="col-3">{{ product?.cores?.core_name }}</dd>

              <dt class="col-3">Loại Kính</dt>
              <dd class="col-3">{{ product?.glasses?.glass_name }}</dd>

              <dt class="col-3">Loại Dây</dt>
              <dd class="col-3">{{ product?.alberts?.albert_name }}</dd>

              <dt class="col-3">Đường Kính Mặt Số</dt>
              <dd class="col-3">{{ product?.product_dial_width }}</dd>

              <dt class="col-3">Bề Dày Mặt Số</dt>
              <dd class="col-3">{{ product?.product_dial_height }}</dd>

              <dt class="col-3">Màu Mặt Đồng Hồ</dt>
              <dd class="col-3">{{ product?.product_dial_color }}</dd>

              <dt class="col-3">Chống Nước</dt>
              <dd class="col-3">{{ product?.product_waterproof }}</dd>

              <dt class="col-3">Chức Năng</dt>
              <dd class="col-3">{{ product?.product_features }}</dd>

              <dt class="col-3">Bảo Hành</dt>
              <dd class="col-3">{{ product?.product_guarantee }}</dd>
            </dl>
          </dl>

          <hr />

          <div class="row mb-4">
            <div class="col-md-4 col-6 mb-3">
              <label class="form-label d-block">Quantity</label>
              <div class="input-group input-spinner">
                <p-inputNumber
                  [(ngModel)]="quantity"
                  [showButtons]="true"
                  inputId="minmax-buttons"
                  [min]="1"
                  [max]="99"
                  [allowEmpty]="false"
                >
                </p-inputNumber>
              </div>
            </div>
          </div>

          <!-- <a href="#" class="btn btn-warning"> Buy now </a> -->
          <a (click)="addToCart()" class="btn btn-primary">
            <i class="me-1 fa fa-shopping-basket"></i> Add to cart
          </a>
          <!-- <a href="#" class="btn btn-light">
            <i class="me-1 fa fa-heart"></i> Save
          </a> -->
        </article>
      </main>
    </div>
  </div>
</section>
<app-footer></app-footer>
