<app-header></app-header>
<section class="padding-y">
  <div class="container">
    <div class="row">
      <aside class="col-lg-4">
        <article class="gallery-wrap">
          <div class="img-big-wrap img-thumbnail h-auto">
            <a
              data-fslightbox="mygalley"
              data-type="image"
              [href]="imgUrl || product?.product_image_uuid[0]"
            >
              <img [src]="imgUrl || product?.product_image_uuid[0]" />
            </a>
          </div>
          <div class="thumbs-wrap">
            <a
              *ngFor="let img of product?.product_image_uuid"
              data-fslightbox="mygalley"
              data-type="image"
              class="item-thumb"
            >
              <img
                (click)="changeSelectedImg(img)"
                width="60"
                height="60"
                [src]="img"
              />
            </a>
          </div>
        </article>
      </aside>
      <main class="col-lg-8">
        <article class="ps-lg-3">
          <h4 class="title text-dark">
            {{ product?.product_type_name }}
          </h4>
          <div class="rating-wrap my-3 mb-0">
            <!-- <ul class="rating-stars">
              <li style="width: 80%" class="stars-active">
                <img src="assets/images/misc/stars-active.svg" alt="" />
              </li>
              <li>
                <img src="assets/images/misc/starts-disable.svg" alt="" />
              </li>
            </ul> -->
            <!-- <b class="label-rating text-warning"> 4.5</b>
            <i class="dot"></i>
            <span class="label-rating text-muted">
              <i class="fa fa-shopping-basket"></i> 154 orders
            </span> -->
            <!-- <i class="dot"></i> -->
            <!-- <span class="label-rating text-success">
              {{ getProductStatus(product?.quantity) }}
            </span> -->
          </div>

          <div class="mb-3">
            <var class="price h5">
              {{ product?.price | currency : "VND" }}
            </var>
            <span class="text-muted">/sản phẩm (Đầy đủ hộp và phụ kiện)</span>
          </div>

          <p>
            {{ product?.product_additional_information }}
          </p>

          <dl class="d-flex">
            <dl class="row">
              <dt class="col-3">Mã sản phẩm</dt>
              <dd class="col-3">{{ product?.product_type_code }}</dd>

              <dt class="col-3">Thương Hiệu:</dt>
              <dd class="col-3">{{ product?.brand?.brand_name }}</dd>

              <dt class="col-3">Xuất Xứ</dt>
              <dd class="col-3">{{ product?.product_source }}</dd>

              <dt class="col-3">Giới Tính</dt>
              <dd class="col-3">{{ getGender(product?.gender) }}</dd>

              <dt class="col-3">Loại Máy</dt>
              <dd class="col-3">{{ product?.core?.core_name }}</dd>

              <dt class="col-3">Loại Kính</dt>
              <dd class="col-3">{{ product?.glass?.glass_name }}</dd>

              <dt class="col-3">Loại Dây</dt>
              <dd class="col-3">{{ product?.albert?.albert_name }}</dd>

              <dt class="col-3">Đường Kính Mặt Số</dt>
              <dd class="col-3">{{ product?.product_dial_width }}</dd>

              <dt class="col-3">Bề Dày Mặt Số</dt>
              <dd class="col-3">{{ product?.product_dial_height }}</dd>

              <dt class="col-3">Màu Mặt Đồng Hồ</dt>
              <dd class="col-3">{{ getColor(product?.product_dial_color) }}</dd>

              <dt class="col-3">Chống Nước</dt>
              <dd class="col-3">{{ product?.product_waterproof }}</dd>

              <dt class="col-3">Chức Năng</dt>
              <dd class="col-3">{{ product?.product_features }}</dd>

              <dt class="col-3">Bảo Hành</dt>
              <dd class="col-3">{{ product?.product_guarantee }}</dd>
            </dl>
          </dl>

          <!-- <a href="#" class="btn btn-warning"> Buy now </a> -->
          <button
            *ngIf="
              this.currentUser?.is_admin !== 'True' &&
              this.currentUser?.is_admin !== true
            "
            [disabled]="
              this.currentUser?.is_admin === 'True' ||
              this.currentUser?.is_admin === true
            "
            (click)="addToCart()"
            class="btn btn-primary"
          >
            <i class="me-1 fa fa-shopping-basket"></i> Thêm vào giỏ hàng
          </button>
          <!-- <a href="#" class="btn btn-light">
            <i class="me-1 fa fa-heart"></i> Save
          </a> -->
        </article>
      </main>
    </div>
  </div>
</section>
<hr />

<div class="container pb-8">
  <div
    *ngIf="this.currentUser?.is_admin !== 'True' && !this.currentUser?.is_admin"
  >
    <h4>Đánh giá sản phẩm</h4>
    <div class="form-group">
      <p-editor
        [(ngModel)]="newComment"
        [style]="{ height: '150px' }"
      ></p-editor>
    </div>
    <div class="w-100 d-flex justify-content-center mt-4">
      <button class="btn btn-primary" (click)="addComment()">Bình luận</button>
    </div>
  </div>

  <h4>Bình luận và đánh giá</h4>
  <div *ngIf="comments.length === 0 && !isLoadingComment">
    Không có bình luận nào.
  </div>
  <div *ngFor="let comment of comments" class="media mb-4 w-100">
    <div class="d-flex">
      <img
        [src]="comment?.user?.avatar"
        alt="Avatar"
        class="mr-3 rounded-circle"
        style="width: 50px; height: 50px"
      />
      <h5 class="my-auto">{{ comment?.user?.fullname }}</h5>
    </div>

    <div class="media-body ml-6">
      <ng-template #noRating>
        <span *ngIf="!isLoadingComment" class="ml-6 px-6"
          >Chưa có đánh giá.</span
        >
      </ng-template>
      <span
        class="ml-4 cmt"
        [innerHTML]="safeHtml(comment.feedback_message)"
      ></span>
    </div>
  </div>
  <div *ngIf="isLoadingComment" class="d-flex justify-content-center">
    <p-progressSpinner
      styleClass="w-3rem h-3rem"
      strokeWidth="4"
      fill="var(--surface-ground)"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>
  <div *ngIf="isShowLoadMore" class="d-flex justify-content-center">
    <button
      [disabled]="isLoadingComment"
      class="btn btn-primary"
      (click)="loadMoreComments()"
    >
      Xem thêm bình luận
    </button>
  </div>
</div>

<app-footer></app-footer>
