<!-- <div class="d-flex justify-content-center">
  <h5>Mã: {{ orders?.id }}</h5>
</div> -->
<div class="d-flex justify-content-center">
  <h5>
    Trạn thái đơn hàng:
    <strong>
      {{ convertToDisPlayName(order?.order_status) }}
    </strong>
  </h5>
</div>

<div class="">
  <h6>Danh sách sản phẩm:</h6>
  <ul *ngFor="let order of orderInfo" class="list-unstyled ml-3">
    <li>
      <div>
        <p-image
          class="cursor-pointer"
          [src]="order?.product_image_uuid[0]"
          (click)="openImage(order?.product_image_uuid[0])"
          alt="Image"
          width="50"
        >
        </p-image>

        <span>
          {{ order?.product_type_name }}
        </span>
      </div>
      <div>Số lượng: {{ order?.quantity }}</div>
      <ul *ngFor="let orderDetail of orderDetailById">
        <li>Mã sản phẩm: {{ orderDetail?.product_code }}</li>
      </ul>
      <div class="d-flex justify-content-center w-100">
        <p-progressSpinner
          *ngIf="isLoading"
          class="small-spinner"
          strokeWidth="2"
          fill="var(--surface-ground)"
          animationDuration=".5s"
        ></p-progressSpinner>
      </div>
      <hr />
    </li>
  </ul>

  <div class="d-flex justify-content-center">
    <p-button
      (onClick)="continue()"
      [label]= "btnMessage"
      styleClass="p-button-secondary"
    ></p-button>
  </div>
</div>
