<div
  class="px-4 py-5 px-md-5 text-center text-lg-start login"
  style="background-color: hsl(0, 0%, 96%)"
>
  <div class="container login-container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="text-left my-5 display-4 fw-bold ls-tight">
          Shop smarter, save bigger<br /><span class="text-primary"
            >Only at our bazaar!</span
          >
        </h1>
        <p class="text-left" style="color: hsl(217, 10%, 50.8%)">
          Find the best deals on the web with our online bazaar. Easy to use and
          secure, our platform offers unbeatable prices on a wide range of
          products. Shop now and start saving!
        </p>
      </div>
      <div class="wrapper col-lg-5 mb-1 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form>
              <div class="form-floating mb-4">
                <input
                  placeholder="Email address"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                />
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating mb-4">
                <input
                  placeholder="Password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                />
                <label for="floatingPassword">Password</label>
              </div>
              <div class="form-check d-flex justify-content-center mb-4">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="flexCheckDefault"
                  checked
                />
                <label class="form-check-label" for="flexCheckDefault"
                  >Subscribe to our newsletter</label
                >
              </div>
              <button type="submit" class="btn btn-primary btn-block mb-2">
                Login
              </button>
              <div class="pt-0 mb-4">
                <span class="fw-normal">You don't have account?</span>
                <a
                  class="ml-1 text-primary cursor-pointer"
                  href="/register"
                  title="Register now!"
                  >Register now!</a
                >
              </div>
              <p class="text-center">or login with:</p>
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  class="btn btn-link btn-floating mx-1"
                  title="Sign up with Facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-link btn-floating mx-1"
                  title="Sign up with Google"
                  ><i class="fab fa-google"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-link btn-floating mx-1"
                  title="Sign up with Twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
                <a
                  href="#"
                  class="btn btn-link btn-floating mx-1"
                  title="Sign up with Github"
                  ><i class="fab fa-github"></i
                ></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
