<div class="mb-2 d-flex justify-content-end">
  <p-button (onClick)="showModalAddNew()" label="Add New"></p-button>
</div>
<p-table
  [value]="productAlberts"
  dataKey="id"
  [loading]="isLoading"
  [lazy]="true"
  [rows]="rowsPerPage"
  [globalFilterFields]="['id', 'brand_name  ', 'created_date', 'updated_date']"
>
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th pSortableColumn="albert_name">Loại dây</th>
      <th pSortableColumn="created_date">Ngày tạo</th>
      <th pSortableColumn="updated_date">Ngày chỉnh sửa</th>

      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data?.id }}</td>
      <td>{{ data?.albert_name }}</td>
      <td>{{ data?.created_date | date : "dd/MM/YYYY HH:ss:mm" }}</td>
      <td>{{ data?.updated_date | date : "dd/MM/YYYY HH:ss:mm" }}</td>
      <td>
        <p-button
          (onClick)="editProductAlberts(data)"
          class="mr-4"
          icon="pi pi-file-edit"
          styleClass="p-button-rounded p-button-warning"
        ></p-button>
        <p-button
          (onClick)="deleteProductAlberts(data)"
          icon="pi pi-times"
          styleClass="p-button-rounded p-button-danger"
        ></p-button>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  [rows]="rowsPerPage"
  [totalRecords]="totalCount"
  (onPageChange)="onPageChanged($event)"
></p-paginator>
<span class="d-flex justify-content-center text-secondary">
  Tổng loại dây: {{ totalCount }}
</span>
