<app-header></app-header>
<section class="padding-y bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="card">
          <div class="content-body">
            <h4 class="card-title mb-4">Your shopping cart</h4>
            <article class="row gy-3 mb-4">
              <div class="col-lg-5">
                <figure class="itemside me-lg-5">
                  <div class="aside">
                    <img
                      src="assets/images/items/11.webp"
                      class="img-sm img-thumbnail"
                    />
                  </div>
                  <figcaption class="info">
                    <a href="#" class="title">Winter jacket for men and lady</a>
                    <p class="text-muted">Yellow, Jeans</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-auto">
                <select style="width: 100px" class="form-select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="col-lg-2 col-sm-4 col-6">
                <div class="price-wrap lh-sm">
                  <var class="price h6">$1156.00</var> <br />
                  <small class="text-muted"> $460.00 / per item </small>
                </div>
              </div>
              <div class="col-lg col-sm-4">
                <div class="float-lg-end">
                  <a href="#" class="btn btn-light">
                    <i class="fa fa-heart"></i
                  ></a>
                  <a href="#" class="btn btn-light text-danger"> Remove</a>
                </div>
              </div>
            </article>

            <article class="row gy-3 mb-4">
              <div class="col-lg-5">
                <figure class="itemside me-lg-5">
                  <div class="aside">
                    <img
                      src="assets/images/items/12.webp"
                      class="img-sm img-thumbnail"
                    />
                  </div>
                  <figcaption class="info">
                    <a href="#" class="title">Mens T-shirt Cotton Base</a>
                    <p class="text-muted">Blue, Medium</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-auto">
                <select style="width: 100px" class="form-select">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option selected>4</option>
                </select>
              </div>
              <div class="col-lg-2 col-sm-4 col-6">
                <div class="price-wrap lh-sm">
                  <var class="price h6">$44.80</var> <br />
                  <small class="text-muted"> $12.20 / per item </small>
                </div>
              </div>
              <div class="col-lg col-sm-4">
                <div class="float-lg-end">
                  <a href="#" class="btn btn-light">
                    <i class="fa fa-heart"></i
                  ></a>
                  <a href="#" class="btn btn-light text-danger"> Remove</a>
                </div>
              </div>
            </article>

            <article class="row gy-3 mb-4">
              <div class="col-lg-5">
                <figure class="itemside me-lg-5">
                  <div class="aside">
                    <img
                      src="assets/images/items/10.webp"
                      class="img-sm img-thumbnail"
                    />
                  </div>
                  <figcaption class="info">
                    <a href="#" class="title"
                      >Blazer Suit Dress Jacket for Men</a
                    >
                    <p class="text-muted">XL size, Jeans, Blue</p>
                  </figcaption>
                </figure>
              </div>
              <div class="col-auto">
                <select style="width: 100px" class="form-select">
                  <option>1</option>
                  <option>2</option>
                  <option selected>3</option>
                  <option>4</option>
                </select>
              </div>
              <div class="col-lg-2 col-sm-4 col-6">
                <div class="price-wrap lh-sm">
                  <var class="price h6">$1156.00</var> <br />
                  <small class="text-muted"> $460.00 / per item </small>
                </div>
              </div>
              <div class="col-lg col-sm-4">
                <div class="float-lg-end">
                  <a href="#" class="btn btn-light">
                    <i class="fa fa-heart"></i
                  ></a>
                  <a href="#" class="btn btn-light text-danger"> Remove</a>
                </div>
              </div>
            </article>
          </div>

          <div class="content-body border-top">
            <p>
              <i class="me-2 text-muted fa-lg fa fa-truck"></i> Free Delivery
              within 1-2 weeks
            </p>
            <p class="text-muted">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip
            </p>
          </div>
        </div>
      </div>
      <aside class="col-lg-3">
        <div class="card mb-3">
          <div class="card-body">
            <form>
              <div class="form-group">
                <label class="form-label">Have coupon?</label>
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    name=""
                    placeholder="Coupon code"
                  />
                  <button class="btn btn-light">Apply</button>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <dl class="dlist-align">
              <dt>Total price:</dt>
              <dd class="text-end">$329.00</dd>
            </dl>
            <dl class="dlist-align">
              <dt>Discount:</dt>
              <dd class="text-end text-success">- $60.00</dd>
            </dl>
            <dl class="dlist-align">
              <dt>TAX:</dt>
              <dd class="text-end">$14.00</dd>
            </dl>
            <hr />
            <dl class="dlist-align">
              <dt>Total:</dt>
              <dd class="text-end text-dark h5">$357.90</dd>
            </dl>

            <div class="d-grid gap-2 my-3">
              <a href="#" class="btn btn-success w-100"> Make Purchase </a>
              <a href="#" class="btn btn-light w-100"> Back to shop </a>
            </div>
          </div>
        </div>
      </aside>
    </div>

    <br /><br />
  </div>
</section>
<app-footer></app-footer>
