:host ::ng-deep {
  .p-dropdown {
    width: 100% !important;
  }

  .p-inputnumber {
    .p-inputtext {
      width: 80px !important;
    }
  }

  .p-dropdown-items {
    overflow: auto !important;
    width: 380px;
  }

  .p-dropdown-item {
    width: 100%;
    word-break: break-all;
  }
}
input {
  cursor: pointer !important;
}
