<p-table
  [value]="user"
  dataKey="id"
  [lazy]="true"
  [rows]="1"
  [globalFilterFields]="['fullname', 'email', 'phone', 'is_admin', 'is_deleted']"
>
  <ng-template pTemplate="body" let-user>
    <tr>
      <td>{{ user?.id }}</td>
      <td>
        <p-avatar
          [image]="user?.avatar || 'assets/images/user.webp'"
          size="large"
          shape="circle"
        ></p-avatar>
      </td>
      <td>{{ user?.fullname }}</td>
      <td>{{ user?.email }}</td>
      <td>{{ user?.phone }}</td>
    </tr>
  </ng-template>
</p-table>
