<app-header></app-header>
<div class="container rounded bg-white mt-5">
  <div class="row pb-md-3 pb-0 mb-0">
    <div class="col-md-2 border-right mr-8">
      <div class="d-flex flex-column align-items-center text-centerpt-0">
        <div class="d-flex justify-content-center align-items-center mt-5">
          <img
            class="rounded-circle"
            width="150px"
            height="150px"
            id="user-avatar-profile"
            [src]="
              currentUser?.avatar ||
              'https://ucarecdn.com/e9c59ff0-2a37-4c58-840f-b2c4d1f1ed2c/user.webp'
            "
          />
        </div>

        <lr-file-uploader-regular
          css-src="https://esm.sh/@uploadcare/blocks@0.22.3/web/file-uploader-regular.min.css"
          ctx-name="profile"
          class="my-config my-2"
          style="left: 20%"
        ></lr-file-uploader-regular>

        <span class="font-weight-bold">{{ currentUser?.fullname }}</span
        ><span class="text-black-50">{{ currentUser?.email }}</span
        ><span> </span>
      </div>
    </div>

    <div class="col-md-4 border-right">
      <form [formGroup]="infoForm" class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Thông Tin Cá Nhân</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-12">
            <label class="labels">Họ Tên</label>
            <input
              formControlName="fullName"
              pInputText
              placeholder="Nhập họ tên"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Email</label><br />
            <input
              formControlName="email"
              id="disabled-input"
              type="text"
              pInputText
              [disabled]="true"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Số điện thoại</label><br />
            <input
              formControlName="phoneNumber"
              pInputText
              placeholder="Nhập Số điện thoại"
            />
          </div>
        </div>
        <!-- <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Ngày tạo tài khoản</label><br />
            <input
              class="disabled"
              id="disabled-input"
              type="text"
              formControlName="createdDate"
              pInputText
              [disabled]="true"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Số đơn đặt hàng hoàn thành</label><br />
            <input formControlName="totalOrder" pInputText [disabled]="true" />
          </div>
        </div> -->
      </form>
    </div>
    <div class="col-md-5 p-3 py-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h4 class="text-right">Địa chỉ của bạn</h4>
        <button class="btn btn-primary" (click)="addAddress()">Add</button>
      </div>

      <div class="table-responsive" style="max-height: 300px; overflow-y: auto">
        <table class="table">
          <thead>
            <tr>
              <th>Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let address of addresses">
              <td>{{ convertAddress(address) }}</td>
              <td>
                <span class="d-flex">
                  <button
                    class="btn btn-danger"
                    (click)="deleteAddress(address)"
                  >
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center mb-5">
    <button
      (click)="save()"
      class="btn btn-primary profile-button"
      type="button"
    >
      Lưu Thông Tin
    </button>
  </div>
</div>
<app-footer></app-footer>
