<app-header></app-header>
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row pb-md-3">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img
          class="rounded-circle mt-5"
          width="150px"
          src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
        /><span class="font-weight-bold">Timmo Nguyen</span
        ><span class="text-black-50">tinh.nguyentrung311@mail.com.my</span><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Thông Tin Cá Nhân</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">Họ Tên</label
            ><input
              type="text"
              class="form-control"
              placeholder="first name"
              value=""
            />
          </div>
          <div class="col-md-6">
            <label class="labels">Email</label
            ><input
              type="text"
              class="form-control"
              value=""
              placeholder="surname"
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Số điện thoại</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Ngày tạo tài khoản</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
            />
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Số đơn đặt hàng hoàn thành</label
            ><input
              type="text"
              class="form-control"
              placeholder="enter phone number"
              value=""
            />
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button">
            Lưu Thông Tin
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Địa Chỉ Nhận Hàng</h4>
        </div>
        <div class="col-md-12">
          <label class="labels">Tỉnh/Thành phố</label
          ><input
            type="text"
            class="form-control"
            placeholder="experience"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Quận/Huyện</label
          ><input
            type="text"
            class="form-control"
            placeholder="additional details"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Phường/Xã</label
          ><input
            type="text"
            class="form-control"
            placeholder="additional details"
            value=""
          />
        </div>
        <br />
        <div class="col-md-12">
          <label class="labels">Tên đường, Tòa nhà, Số nhà</label
          ><input
            type="text"
            class="form-control"
            placeholder="additional details"
            value=""
          />
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="button">
            Lưu Địa Chỉ
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
