<app-header></app-header>

<section class="padding-y pt-0">
  <div class="container">
    <div class="row">
      <aside class="col-lg-3">
        <button
          class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
          data-bs-toggle="collapse"
          data-bs-target="#aside_filter"
        >
          Show filter
        </button>

        <button
          class="btn btn-outline-secondary mb-3 w-100 text-secondary custom-btn d-none d-lg-block"
          [ngClass]="{ 'btn-secondary text-white': !isCollapsed }"
          (click)="toggleCollapse()"
        >
          <span>
            {{ !isCollapsed ? "Hiển thị tất cả" : "Ẩn tất cả" }}
          </span>
        </button>

        <div id="aside_filter" class="collapse card d-lg-block mb-5">
          <article *ngIf="isShowCategories" class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside1"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Danh mục </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside1"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <ul class="list-menu">
                  <li *ngFor="let subCategory of subCategories">
                    <div
                      [class.active-sub]="
                        selectedSubCategory?.id === subCategory?.id
                      "
                      (click)="onCliskSubCategory(subCategory)"
                      class="cursor-pointer text-decoration-none"
                    >
                      {{ subCategory?.sub_category_name }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_brands"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Thương Hiệu </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_brands"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label *ngFor="let brand of brands" class="form-check mb-2">
                  <input
                    (change)="onCheckboxChange($event, brand?.id)"
                    class="form-check-input"
                    type="checkbox"
                  />
                  <p-image
                    class="cursor-pointer"
                    [src]="brand?.brand_logo"
                    alt="Image"
                    width="30"
                    class="ml-2"
                  >
                  </p-image>
                  <span class="form-check-label">
                    {{ brand?.brand_name }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside2"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo giá </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside2"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label
                  class="form-check mb-2"
                  *ngFor="let option of PRICE_OPTIONS"
                >
                  <input
                    class="form-check-input"
                    type="radio"
                    name="price"
                    [value]="option.value"
                    [checked]="option.value === selectedPrice"
                    (click)="toggleRadioSelection(option.value)"
                    (click)="onclickPrice(option)"
                  />
                  <span class="form-check-label">
                    {{ option.label }}
                  </span>
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_alberts"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo loại dây </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_alberts"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label *ngFor="let albert of alberts" class="form-check mb-2">
                  <input
                    (change)="onCheckboxckAlbert($event, albert?.id)"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                  />
                  <span class="form-check-label">
                    {{ albert?.albert_name }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_cores"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo loại máy </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_cores"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label *ngFor="let core of cores" class="form-check mb-2">
                  <input
                    (change)="onCheckboxckCore($event, core?.id)"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                  />
                  <span class="form-check-label">
                    {{ core?.core_name }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_glass"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo loại kính </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_glass"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label *ngFor="let glass of glasses" class="form-check mb-2">
                  <input
                    (change)="onCheckboxckGlass($event, glass?.id)"
                    class="form-check-input"
                    type="checkbox"
                    value=""
                  />
                  <span class="form-check-label">
                    {{ glass?.glass_name }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_gender"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo giới tính </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_gender"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label class="form-check mb-2" *ngFor="let gender of genders">
                  <input
                    (change)="onCheckboxckGender($event, gender)"
                    class="form-check-input"
                    type="checkbox"
                    [value]="gender"
                  />
                  <span class="form-check-label">
                    {{ gender }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_colors"
              >
                <i class="icon-control fa fa-chevron-down"></i>
                <strong> Lọc theo màu sắc </strong>
              </a>
            </header>
            <div
              class="collapse"
              id="collapse_aside_colors"
              [ngClass]="{ show: isCollapsed }"
            >
              <div class="card-body">
                <label class="form-check mb-2" *ngFor="let color of colors">
                  <input
                    (change)="onCheckboxckColors($event, color)"
                    class="form-check-input"
                    type="checkbox"
                    [value]="color"
                  />
                  <span class="form-check-label">
                    {{ color }}
                  </span>
                  <!-- <b class="badge rounded-pill bg-gray-dark float-end">120</b> -->
                </label>
              </div>
            </div>
          </article>
        </div>
      </aside>
      <main class="col-lg-9">
        <p-dataView
          *ngIf="!isDataLoading"
          #dv
          [value]="products"
          [layout]="layout"
        >
          <ng-template pTemplate="header">
            <div class="d-flex justify-content-end">
              <p-dataViewLayoutOptions
                [layout]="layout"
              ></p-dataViewLayoutOptions>
            </div>
          </ng-template>
          <ng-template let-product pTemplate="listItem">
            <div class="col-12">
              <div
                class="d-flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
              >
                <img
                  class="w-6 sm:w-12rem xl:w-8rem shadow-2 block xl:block mx-auto rounded"
                  [src]="
                    product?.product_image_uuid
                      ? product?.product_image_uuid[0]
                      : ''
                  "
                  [alt]="product.product_type_name"
                />
                <div
                  class="d-flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
                >
                  <div
                    class="d-flex flex-column align-items-center sm:align-items-start gap-3"
                  >
                    <div
                      (click)="onClickProduct(product)"
                      class="text-lg font-bold text-900 cursor-pointer"
                    >
                      {{ formatName(product.product_type_name) }}
                    </div>
                  </div>
                  <div
                    class="d-flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
                  >
                    <span class="text-lg font-semibold">{{
                      product.price | currency : "VND"
                    }}</span>
                    <button
                      [disabled]="
                        this.currentUser?.is_admin === 'True' ||
                        this.currentUser?.is_admin === true
                      "
                      *ngIf="
                        this.currentUser?.is_admin !== 'True' &&
                        this.currentUser?.is_admin !== true
                      "
                      pButton
                      (click)="addToCart(product)"
                      icon="pi pi-shopping-cart"
                      class="md:align-self-end text-sm mb-2 p-button-rounded text-sm"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-product pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
              <div class="p-4 border-1 surface-border surface-card rounded">
                <div class="d-flex flex-column align-items-center gap-3 py-5">
                  <img
                    class="w-100 shadow-2 rounded"
                    tooltipPosition="bottom"
                    id="user-avatar"
                    [src]="
                      product?.product_image_uuid
                        ? product?.product_image_uuid[0]
                        : ''
                    "
                  />
                  <div
                    (click)="onClickProduct(product)"
                    class="text-lg font-bold cursor-pointer"
                  >
                    {{ formatName(product.product_type_name) }}
                  </div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <span class="text-lg font-semibold">{{
                    product.price | currency : "VND"
                  }}</span>
                  <button
                    *ngIf="
                      this.currentUser?.is_admin !== 'True' &&
                      this.currentUser?.is_admin !== true
                    "
                    pButton
                    [disabled]="
                      this.currentUser?.is_admin === 'True' ||
                      this.currentUser?.is_admin === true
                    "
                    (click)="addToCart(product)"
                    icon="pi pi-shopping-cart"
                    class="p-button-rounded text-sm"
                  ></button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>

        <div *ngIf="isDataLoading" class="text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>

        <p-paginator
          [rows]="rowsPerPage"
          [totalRecords]="totalRecords"
          (onPageChange)="onPageChanged($event)"
        ></p-paginator>
        <span> Tổng sản phẩm: {{ totalRecords }} </span>
      </main>
    </div>
  </div>
</section>

<app-footer></app-footer>
