<app-header></app-header>

<section class="padding-y pt-0">
  <div class="container">
    <div class="row">
      <aside class="col-lg-3">
        <button
          class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
          data-bs-toggle="collapse"
          data-bs-target="#aside_filter"
        >
          Show filter
        </button>

        <div id="aside_filter" class="collapse card d-lg-block mb-5">
          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside1"
              >
                <i class="icon-control fa fa-chevron-down"></i> DANH MỤC
              </a>
            </header>
            <div class="collapse show" id="collapse_aside1">
              <div class="card-body">
                <ul class="list-menu">
                  <li *ngFor="let subCategory of subCategories">
                    <div
                      [class.active-sub]="
                        selectedSubCategory?.id === subCategory?.id
                      "
                      (click)="onCliskSubCategory(subCategory)"
                      class="cursor-pointer text-decoration-none"
                    >
                      {{ subCategory?.sub_category_name }}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside_brands"
              >
                <i class="icon-control fa fa-chevron-down"></i> Brands
              </a>
            </header>
            <div class="collapse show" id="collapse_aside_brands">
              <div class="card-body">
                <label class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <span class="form-check-label"> Mercedes </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">120</b>
                </label>

                <label class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <span class="form-check-label"> Toyota </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">15</b>
                </label>

                <label class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <span class="form-check-label"> Mitsubishi </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">35</b>
                </label>

                <label class="form-check mb-2">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    checked
                  />
                  <span class="form-check-label"> Nissan </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">89</b>
                </label>

                <label class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" value="" />
                  <span class="form-check-label"> Honda </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">30</b>
                </label>

                <label class="form-check mb-2">
                  <input class="form-check-input" type="checkbox" value="" />
                  <span class="form-check-label"> Honda accord </span>
                  <b class="badge rounded-pill bg-gray-dark float-end">30</b>
                </label>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside2"
              >
                <i class="icon-control fa fa-chevron-down"></i> Price
              </a>
            </header>
            <div class="collapse show" id="collapse_aside2">
              <div class="card-body">
                <input type="range" class="form-range" min="0" max="100" />
                <div class="row mb-3">
                  <div class="col-6">
                    <label for="min" class="form-label">Min</label>
                    <input
                      class="form-control"
                      id="min"
                      placeholder="$0"
                      type="number"
                    />
                  </div>

                  <div class="col-6">
                    <label for="max" class="form-label">Max</label>
                    <input
                      class="form-control"
                      id="max"
                      placeholder="$1,0000"
                      type="number"
                    />
                  </div>
                </div>
                <button class="btn btn-light w-100" type="button">Apply</button>
              </div>
            </div>
          </article>

          <article class="filter-group">
            <header class="card-header">
              <a
                href="#"
                class="title"
                data-bs-toggle="collapse"
                data-bs-target="#collapse_aside3"
              >
                <i class="icon-control fa fa-chevron-down"></i> Size
              </a>
            </header>
            <div class="collapse show" id="collapse_aside3">
              <div class="card-body">
                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XS </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> SM </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> LG </span>
                </label>

                <label class="checkbox-btn">
                  <input type="checkbox" />
                  <span class="btn btn-light"> XXL </span>
                </label>
              </div>
            </div>
          </article>
        </div>
      </aside>
      <main class="col-lg-9">
        <p-dataView
          *ngIf="!isDataLoading"
          #dv
          [value]="products"
          [layout]="layout"
        >
          <ng-template pTemplate="header">
            <div class="d-flex justify-content-end">
              <p-dataViewLayoutOptions
                [layout]="layout"
              ></p-dataViewLayoutOptions>
            </div>
          </ng-template>
          <ng-template let-product pTemplate="listItem">
            <div class="col-12">
              <div
                class="d-flex flex-column xl:flex-row xl:align-items-start p-4 gap-4"
              >
                <img
                  class="w-6 sm:w-12rem xl:w-8rem shadow-2 block xl:block mx-auto rounded"
                  [src]="
                    'https://primefaces.org/cdn/primeng/images/demo/product/bamboo-watch.jpg'
                  "
                  [alt]="product.product_type_name"
                />
                <div
                  class="d-flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
                >
                  <div
                    class="d-flex flex-column align-items-center sm:align-items-start gap-3"
                  >
                    <div class="text-lg font-bold text-900">
                      {{ product.product_type_name }}
                    </div>
                    <p-rating
                      [ngModel]="4"
                      [readonly]="true"
                      [cancel]="false"
                    ></p-rating>
                    <div class="d-flex align-items-center gap-3">
                      <span class="d-flex align-items-center gap-2">
                        <i class="pi pi-tag"></i>
                        <span class="font-semibold">{{
                          product.category
                        }}</span>
                      </span>
                      <p-tag
                        [value]="'INSTOCK'"
                        severity="{{ getSeverity(product) }}"
                      ></p-tag>
                    </div>
                  </div>
                  <div
                    class="d-flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
                  >
                    <span class="text-lg font-semibold">{{
                      "$" + product.price
                    }}</span>
                    <button
                      pButton
                      icon="pi pi-shopping-cart"
                      class="md:align-self-end text-sm mb-2 p-button-rounded text-sm"
                      [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                    ></button>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-product pTemplate="gridItem">
            <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
              <div class="p-4 border-1 surface-border surface-card rounded">
                <div
                  class="d-flex flex-wrap align-items-center justify-content-between gap-2"
                >
                  <span class="d-flex align-items-center gap-2">
                    <i class="pi pi-tag"></i>
                    <span class="font-semibold">
                      {{ product?.sub_category_name }}
                    </span>
                  </span>
                  <p-tag
                    [value]="'INSTOCK'"
                    severity="{{ getSeverity(product) }}"
                  ></p-tag>
                </div>
                <div class="d-flex flex-column align-items-center gap-3 py-5">
                  <img
                    class="w-100 shadow-2 rounded"
                    tooltipPosition="bottom"
                    id="user-avatar"
                    [src]="
                      product?.product_image_uuid
                        ? product?.product_image_uuid[0]
                        : ''
                    "
                  />
                  <div class="text-lg font-bold">
                    {{ product.product_type_name }}
                  </div>
                  <p-rating
                    [ngModel]="4"
                    [readonly]="true"
                    [cancel]="false"
                  ></p-rating>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                  <span class="text-lg font-semibold">{{
                    product.price | currency : "VND"
                  }}</span>
                  <button
                    pButton
                    icon="pi pi-shopping-cart"
                    class="p-button-rounded text-sm"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
                  ></button>
                </div>
              </div>
            </div>
          </ng-template>
        </p-dataView>

        <div *ngIf="isDataLoading" class="text-center">
          <p-progressSpinner></p-progressSpinner>
        </div>

        <p-paginator
          [rows]="rowsPerPage"
          [totalRecords]="totalRecords"
          (onPageChange)="onPageChanged($event)"
        ></p-paginator>
      </main>
    </div>
  </div>
</section>

<app-footer></app-footer>
