<app-header></app-header>
<div>
  <div class="card-banner p-1">
    <p-carousel
      [value]="banners"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="8000"
    >
      <ng-template let-src pTemplate="item">
        <div class="image-container">
          <img style="height: 150px" [src]="src" alt="" />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="px-6 mt-4">
    <header class="section-heading mb-0">
      <h4 class="section-title text-secondary">Sản phẩm mới</h4>
    </header>

    <div class="row">
      <div
        *ngFor="let product of newProducts"
        class="col-12 sm:col-5 lg:col-5 xl:col-2 p-2"
      >
        <div class="p-4 border-1 surface-border surface-card rounded">
          <div
            (click)="onClickProduct(product)"
            class="d-flex flex-column align-items-center gap-3 py-5 cursor-pointer"
          >
            <img
              class="w-100 shadow-2 rounded"
              tooltipPosition="bottom"
              id="user-avatar"
              [src]="
                product?.product_image_uuid
                  ? product?.product_image_uuid[0]
                  : ''
              "
            />
            <div class="font-bold cursor-pointer">
              {{ formatName(product.product_type_name) }}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-lg font-semibold">{{
              product.price | currency : "VND"
            }}</span>
            <button
              pButton
              *ngIf="
                this.currentUser?.is_admin !== 'True' &&
                this.currentUser?.is_admin !== true
              "
              (click)="addToCart(product)"
              icon="pi pi-shopping-cart"
              class="p-button-rounded text-sm"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider w-100 mt-6">
    <div class="slide-track">
      <div *ngFor="let brand of brands" class="slide">
        <img [src]="brand?.brand_logo" height="50" width="100" alt="" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
