<app-header></app-header>
<!-- <section class="section-intro padding-top-sm">
  <div class="container">
    <main class="card py-3 mt-2">
      <div class="row w-100">
        <div class="w-100">
          <article class="card-banner p-1">
            <p-carousel
              [value]="banners"
              [numVisible]="1"
              [numScroll]="1"
              [circular]="true"
              [responsiveOptions]="responsiveOptions"
              [autoplayInterval]="8000"
            >
              <ng-template let-src pTemplate="item">
                <div class="image-container">
                  <img [src]="src" alt="" />
                </div>
              </ng-template>
            </p-carousel>
          </article>
        </div>
      </div>
    </main>
  </div>
</section>

<section class="padding-top">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">New products</h3>
    </header>

    <div class="row">
      <div *ngFor="let product of products" class="col-12 sm:col-5 lg:col-5 xl:col-2 p-2">
        <div class="p-4 border-1 surface-border surface-card rounded">
          <div class="d-flex flex-column align-items-center gap-3 py-5">
            <img
              class="w-100 shadow-2 rounded"
              tooltipPosition="bottom"
              id="user-avatar"
              [src]="
                product?.product_image_uuid
                  ? product?.product_image_uuid[0]
                  : ''
              "
            />
            <div
              class="text-lg font-bold cursor-pointer"
            >
              {{ formatName(product.product_type_name) }}
            </div>
            <p-rating
              [ngModel]="4"
              [readonly]="true"
              [cancel]="false"
              class="text-warning"
            ></p-rating>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-lg font-semibold">{{
              product.price | currency : "VND"
            }}</span>
            <button
              pButton
              icon="pi pi-shopping-cart"
              class="p-button-rounded text-sm"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="padding-top">
  <div class="container">
    <div class="row gy-4">
      <aside class="col-lg-6">
        <article class="card-banner bg-gray h-100" style="min-height: 200px">
          <div class="p-3 p-lg-5" style="max-width: 70%">
            <h3>Best products & brands in our store at 80% off</h3>
            <p>That's true but not always</p>
            <a class="btn btn-warning" href="#"> Claim offer </a>
          </div>
          <img
            src="assets/images/banners/banner-item2.webp"
            height="350"
            class="img-bg"
          />
        </article>
      </aside>
      <aside class="col-lg-6">
        <div class="row mb-4">
          <div class="col-6">
            <article class="card bg-primary" style="min-height: 200px">
              <div class="card-body">
                <h5 class="text-white">Gaming toolset</h5>
                <p class="text-white-50">Technology for cyber sport</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </article>
          </div>
          <div class="col-6">
            <article class="card bg-primary" style="min-height: 200px">
              <div class="card-body">
                <h5 class="text-white">Quality sound</h5>
                <p class="text-white-50">All you need for music</p>
                <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
              </div>
            </article>
          </div>
        </div>

        <article class="card bg-success" style="min-height: 200px">
          <div class="card-body">
            <h5 class="text-white">Buy 2 items, With special gift</h5>
            <p class="text-white-50" style="max-width: 400px">
              Buy one, get one free marketing strategy helps your business
              improves the brand by sharing the profits
            </p>
            <a class="btn btn-outline-light btn-sm" href="#">Learn more</a>
          </div>
        </article>
      </aside>
    </div>
  </div>
</section>

<section class="padding-top">
  <div class="container">
    <header class="section-heading">
      <h3 class="section-title">Recently viewed</h3>
    </header>

    <div class="row gy-3">
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/1.webp"
          />
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/2.webp"
          />
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/3.webp"
          />
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/4.webp"
          />
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/5.webp"
          />
        </a>
      </div>
      <div class="col-lg-2 col-md-4 col-4">
        <a href="#" class="img-wrap">
          <img
            height="200"
            width="200"
            class="img-thumbnail"
            src="assets/images/items/6.webp"
          />
        </a>
      </div>
    </div>
  </div>
</section> -->

<div>
  <div class="card-banner p-1">
    <p-carousel
      [value]="banners"
      [numVisible]="4"
      [numScroll]="4"
      [circular]="true"
      [responsiveOptions]="responsiveOptions"
      [autoplayInterval]="8000"
    >
      <ng-template let-src pTemplate="item">
        <div class="image-container">
          <img style="height: 150px" [src]="src" alt="" />
        </div>
      </ng-template>
    </p-carousel>
  </div>

  <div class="px-6 mt-4">
    <header class="section-heading mb-0">
      <h4 class="section-title text-secondary">Sản phẩm mới</h4>
    </header>

    <div class="row">
      <div
        *ngFor="let product of newProducts"
        class="col-12 sm:col-5 lg:col-5 xl:col-2 p-2"
      >
        <div class="p-4 border-1 surface-border surface-card rounded">
          <div
            (click)="onClickProduct(product)"
            class="d-flex flex-column align-items-center gap-3 py-5 cursor-pointer"
          >
            <img
              class="w-100 shadow-2 rounded"
              tooltipPosition="bottom"
              id="user-avatar"
              [src]="
                product?.product_image_uuid
                  ? product?.product_image_uuid[0]
                  : ''
              "
            />
            <div class="font-bold cursor-pointer">
              {{ formatName(product.product_type_name) }}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-lg font-semibold">{{
              product.price | currency : "VND"
            }}</span>
            <button
              pButton
              *ngIf="
                this.currentUser?.is_admin !== 'True' &&
                this.currentUser?.is_admin !== true
              "
              (click)="addToCart(product)"
              icon="pi pi-shopping-cart"
              class="p-button-rounded text-sm"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-6 mt-4">
    <header class="section-heading mb-0">
      <h4 class="section-title text-secondary">Sản phẩm độc quyền</h4>
    </header>

    <div class="row">
      <div
        *ngFor="let product of bestProducts"
        class="col-12 sm:col-5 lg:col-5 xl:col-2 p-2"
      >
        <div class="p-4 border-1 surface-border surface-card rounded">
          <div
            (click)="onClickProduct(product)"
            class="d-flex flex-column align-items-center gap-3 py-5 cursor-pointer"
          >
            <img
              class="w-100 shadow-2 rounded"
              tooltipPosition="bottom"
              id="user-avatar"
              [src]="
                product?.product_image_uuid
                  ? product?.product_image_uuid[0]
                  : ''
              "
            />
            <div class="font-bold cursor-pointer">
              {{ formatName(product.product_type_name) }}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-lg font-semibold">{{
              product.price | currency : "VND"
            }}</span>
            <button
              pButton
              *ngIf="
                this.currentUser?.is_admin !== 'True' &&
                this.currentUser?.is_admin !== true
              "
              (click)="addToCart(product)"
              icon="pi pi-shopping-cart"
              class="p-button-rounded text-sm"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="px-6 mt-4">
    <header class="section-heading mb-0">
      <h4 class="section-title text-secondary">Sản phẩm hot</h4>
    </header>

    <div class="row">
      <div
        *ngFor="let product of products"
        class="col-12 sm:col-5 lg:col-5 xl:col-2 p-2"
      >
        <div class="p-4 border-1 surface-border surface-card rounded">
          <div
            (click)="onClickProduct(product)"
            class="d-flex flex-column align-items-center gap-3 py-5 cursor-pointer"
          >
            <img
              class="w-100 shadow-2 rounded"
              tooltipPosition="bottom"
              id="user-avatar"
              [src]="
                product?.product_image_uuid
                  ? product?.product_image_uuid[0]
                  : ''
              "
            />
            <div class="font-bold cursor-pointer">
              {{ formatName(product.product_type_name) }}
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-between">
            <span class="text-lg font-semibold">{{
              product.price | currency : "VND"
            }}</span>
            <button
              pButton
              *ngIf="
                this.currentUser?.is_admin !== 'True' &&
                this.currentUser?.is_admin !== true
              "
              (click)="addToCart(product)"
              icon="pi pi-shopping-cart"
              class="p-button-rounded text-sm"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="slider w-100 mt-6">
    <div class="slide-track">
      <div *ngFor="let brand of brands" class="slide">
        <img [src]="brand?.brand_logo" height="50" width="100" alt="" />
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
