<button pButton icon="fa fa-refresh" (click)="reloadComponent()" class="reload-button"></button>
<span>
  <input
    class="mr-2"
    title="Tìm kiếm theo mã đơn hàng"
    pInputText
    type="text"
    placeholder="Tìm kiếm theo mã đơn"
    (change)="search()"
    [(ngModel)]="filter"
  />
  <p-dropdown
    [options]="orderStatusValues"
    optionLabel="value"
    [(ngModel)]="selectedFilterStatus"
    (onChange)="onDropdownChange($event)"
    placeholder="Tìm kiếm trạng thái"
    styleClass="custom-dropdown mr-2"
  ></p-dropdown>

  <p-button
    (onClick)="clearSearch()"
    class="mt-4 w-100"
    styleClass="p-button-warning"
    icon="pi pi-filter-slash"
    title="Hủy bỏ tìm kiếm"
  ></p-button>
</span>
<hr />
<p-table
  [value]="orders"
  dataKey="id"
  [loading]="isLoading"
  [lazy]="true"
  [rows]="rowsPerPage"
  [globalFilterFields]="['order_status']"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Mã đơn hàng</th>
      <th>khách hàng</th>
      <th>Tổng tiền</th>
      <th>Trạng thái</th>
      <th>Địa chỉ</th>
      <th>Số điện thoại</th>
      <th>Ngày tạo</th>
      <th>Ngày chỉnh sửa</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td>{{ data?.id }}</td>
      <td>
        <p-button
          (onClick)="viewUserDetail(data)"
          class="mr-4"
          icon="pi pi-user"
          styleClass="p-button-link"
        ></p-button>
      </td>
      <td class="formatted-amount">
        {{ data?.total_amount | currency : "VND" : "symbol" : "1.0-0" }}
      </td>
      <td>{{ getOrderStatus(data?.order_status) }}</td>
      <td>
        {{ getAddress(data) }}
      </td>

      <td>
        {{ data?.phone }}
      </td>
      <td>{{ convertToUtcPlus7(data?.created_date)}}</td>
      <td>{{ convertToUtcPlus7(data?.updated_date)}}</td>
      <td>
        <div class="d-flex">
          <p-button
            (onClick)="manageOrder(data)"
            class="mr-4"
            icon="pi pi-list"
            styleClass="p-button-rounded p-button-warning"
          ></p-button>

          <!-- <p-button
            (onClick)="cancelOrder(data)"
            class="mr-4"
            icon="pi pi-trash"
            styleClass="p-button-rounded p-button-danger"
          ></p-button> -->
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
<p-paginator
  [rows]="rowsPerPage"
  [totalRecords]="totalCount"
  (onPageChange)="onPageChanged($event)"
></p-paginator>
<span class="d-flex justify-content-center text-secondary">
  Tổng đơn hàng: {{ totalCount }}
</span>
