<div
  class="px-4 py-5 px-md-5 text-center text-lg-start login"
  style="background-color: hsl(0, 0%, 96%); min-height: 100vh"
>
  <div class="container login-container">
    <div class="row gx-lg-5 align-items-center">
      <div class="col-lg-7 mb-5 mb-lg-0">
        <h1 class="text-left my-5 display-4 fw-bold ls-tight">
          Khám phá thời gian với phong cách<br /><span class="text-primary"
            >WatchHub - Trải nghiệm mua sắm đồng hồ chính hãng và uy tín!</span
          >
        </h1>
        <p class="text-left" style="color: hsl(217, 10%, 50.8%)">
          Một nơi hấp dẫn dành cho những người đam mê Đồng hồ, Những chiếc Đồng
          hồ tinh tế được chế tạo với độ chính xác tuyệt vời và nghệ thuật!
        </p>
      </div>
      <div class="wrapper col-lg-5 mb-1 mb-lg-0">
        <div class="card">
          <div class="card-body py-5 px-md-5">
            <form [formGroup]="registerForm">
              <div class="form-floating mb-4">
                <input
                  placeholder="Họ và Tên của bạn"
                  formControlName="yourName"
                  type="text"
                  class="form-control"
                  id="floatingPassword"
                />
                <label for="floatingPassword">Họ và Tên của bạn</label>
                <small
                  *ngIf="
                    registerForm.controls['yourName']?.errors &&
                    registerForm.controls['yourName'].dirty
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="registerForm.controls['yourName']?.errors?.required"
                  >
                    Họ và Tên là bắt buộc
                  </div>
                </small>
              </div>

              <div class="form-floating mb-4">
                <input
                  placeholder="Địa chỉ Email"
                  formControlName="email"
                  type="email"
                  class="form-control"
                  id="floatingInput"
                />
                <label for="floatingInput">Địa chỉ Email</label>

                <small
                  class="mt-1"
                  *ngIf="
                    registerForm.controls['email'].errors &&
                    registerForm.controls['email'].dirty
                  "
                  class="text-danger"
                >
                  <div *ngIf="registerForm.controls['email'].errors.required">
                    Email là bắt buộc
                  </div>
                  <div *ngIf="registerForm.controls['email'].errors.email">
                    Định dạng email không hợp lệ
                  </div>
                </small>
              </div>

              <div class="form-floating mb-4">
                <input
                  placeholder="Mật khẩu"
                  formControlName="password"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                />
                <label for="floatingPassword">Mật khẩu</label>
                <small
                  *ngIf="
                    registerForm.controls['password']?.errors &&
                    registerForm.controls['password'].dirty
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="registerForm.controls['password']?.errors?.required"
                  >
                    Mật khẩu là bắt buộc
                  </div>
                </small>
              </div>

              <div class="form-floating mb-4">
                <input
                  placeholder="Xác nhận Mật khẩu"
                  formControlName="confirmPassword"
                  type="password"
                  class="form-control"
                  id="floatingPassword"
                />
                <label for="floatingPassword">Xác nhận Mật khẩu</label>
                <small
                  *ngIf="
                    registerForm.controls['confirmPassword']?.errors &&
                    registerForm.controls['confirmPassword'].dirty
                  "
                  class="text-danger"
                >
                  <div
                    *ngIf="
                      registerForm.controls['confirmPassword']?.errors?.required
                    "
                  >
                    Xác nhận Mật khẩu là bắt buộc
                  </div>
                  <div
                    *ngIf="
                      registerForm.controls['confirmPassword']?.errors
                        ?.matchPassword
                    "
                  >
                    Xác nhận Mật khẩu và Mật khẩu không khớp
                  </div>
                </small>
              </div>

              <button
                (click)="register()"
                [disabled]="registerForm.invalid"
                type="submit"
                class="btn w-100 btn-primary py-2 mb-3"
              >
                Đăng ký
              </button>
              <div class="pt-0 mb-3">
                <span class="fw-normal">Bạn đã có tài khoản?</span>
                <a
                  class="ml-1 text-primary cursor-pointer"
                  href="/login"
                  title="Đăng nhập ngay!"
                  >Đăng nhập ngay</a
                >
              </div>
              <p class="text-center">hoặc đăng ký bằng:</p>
              <div class="container">
                <div class="my-2 d-flex w-100">
                  <button
                    (click)="loginWithGoogle()"
                    class="google-button btn mx-1 w-100 border"
                  >
                    <img
                      style="width: 30px; height: 30px"
                      src="assets/images/logo/google-logo.png"
                      alt="Google Logo"
                      class="d-inline-block mb-1"
                    />
                    <span class="ml-1">Google</span>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
